!!!
%html
  %head
    %meta{ 'charset': "utf-8" }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge;chrome=1' }
    %meta{ 'name': 'viewport', 'content': 'width=device-width', 'initial-scale': '1' }

    %title
      = 'Davide Ghezzi' + ( current_article ? " | #{current_article.title}" : ' | randomly')

    %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" }

    = favicon_tag 'favicon.ico'
    = stylesheet_link_tag 'custom'
    = javascript_include_tag 'custom'
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"

  %body
    = partial 'layouts/header'

    .Main
      .Page
        = yield

    = partial 'layouts/footer'